.angkacart{
  min-width: 20px;
  min-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  background-color: #17a2b8;
  position: absolute;
  transform: translate(30%, -8%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 18px;
  padding: 0px 4px;
  margin-top: -8px;
}
.media-body{
  flex:1
}
.popover{
  width: 25%;
  max-width: 35%; /* Max Width of the popover (depending on the container!) */
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.product_count > i.fa-times {
    cursor: pointer;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.float-left{
	float: left;
}

@media (min-width: 992px){
	.line-cart{
		width: 1px;
    height: 24px;
    background: #e0e0e0;
    margin: auto 5px auto 10px;
	}
}

@media (max-width: 576px){
	.line-cart{
	}
}

@media (min-width: 576px){
  .form-inline{
    margin-bottom: 10px;
  }
}

@media (min-width: 482px){
  .form-inline .search{
    width: 355px;
  }
}
@media (min-width: 582px){
  .form-inline .search{
    width: 455px;
  }
}
@media (min-width: 682px){
  .form-inline .search{
    width: 555px;
  }
}
@media (min-width: 782px){
  .form-inline .search{
    width: 665px;
  }
}
@media (min-width: 872px){
  .form-inline .search{
    width: 775px;
  }
}
@media (min-width: 982px){
  .form-inline .search{
    width: 885px;
  }
}
@media (min-width: 992px){
	.form-inline .search{
		width: 350px;
	}
}
@media (min-width: 1000px){
	.form-inline .search{
		width: 400px;
	}
}
@media (min-width: 1100px){
	.form-inline .search{
		width: 500px;
	}
}
@media (min-width: 1200px){
	.form-inline .search{
		width: 600px;
	}
}
@media (min-width: 1300px){
	.form-inline .search{
		width: 700px;
	}
}

@media (max-width: 576px){
	.form-inline .search{
		width: 75%;
		margin-right: .5rem!important;
	}
}

@media (min-width: 992px){
	.coverBg{
		background-image: url(../storage/login/bg-01.jpg);
		/*background-position: center;*/
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 992px){
	.coverBg{
		background-image: url(../storage/login/bg-01.jpg);
		/*background-position: center;*/
		background-repeat: no-repeat;
		position: fixed;
		width: 100%;
		height: 100%;
	}
	.product_top_bar {
		display: block;
		clear: inherit;
	}
	.product_top_bar .left_dorp{
		width: 100%;
		display: block;
	}
	.product_top_bar .left_dorp .sorting {
		display: block;
		width: 100%;
		float: none;

	}
	.product_top_bar .left_dorp .show {
		display: block;
		width: 100%;
		margin-left: 0px;
		flex: none;
	}
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info{
	color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: .25rem !important;
}
.mt-2 {
  margin-top: .5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: .25rem !important;
}
.mr-2 {
  margin-right: .5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: .25rem !important;
}
.mb-2 {
  margin-bottom: .5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-right: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: .25rem !important;
}
.ml-2 {
  margin-left: .5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}

/*.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}*/

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.product_top_bar {
  background: #f9f9ff;
  clear: both;
  display: flex;
  padding: 10px 20px; }
  .product_top_bar .left_dorp .sorting {
    display: inline-block;
    clear: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 40px;
    width: 210px;
    padding-left: 20px; }
    .product_top_bar .left_dorp .sorting span {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #555555; }
    .product_top_bar .left_dorp .sorting .list {
      width: 100%;
      border-radius: 0px; }
      .product_top_bar .left_dorp .sorting .list li {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
    .product_top_bar .left_dorp .sorting:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      transform: rotate(0);
      border: none;
      color: #555555;
      margin-top: -6px;
      right: 20px; }
  .product_top_bar .left_dorp .show {
    clear: none;
    display: inline-block;
    clear: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 40px;
    width: 120px;
    padding-left: 20px;
    margin-left: 10px; }
    .product_top_bar .left_dorp .show span {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #555555; }
    .product_top_bar .left_dorp .show .list {
      width: 100%;
      border-radius: 0px; }
      .product_top_bar .left_dorp .show .list li {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
    .product_top_bar .left_dorp .show:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      transform: rotate(0);
      border: none;
      color: #555555;
      margin-top: -6px;
      right: 20px; }

.product_top_bar {
    background: #f9f9ff;
    clear: both;
    display: flex;
    padding: 10px 20px;
    .left_dorp {
        .sorting {
            display: inline-block;
            clear: none;
            border: 1px solid #eeeeee;
            border-radius: 0px;
            height: 40px;
            width: 210px;
            padding-left: 20px;
            span {
                font-size: 14px;
                font-family: $rob;
                color: #555555;
            }
            .list {
                width: 100%;
                border-radius: 0px;
                li {
                    font-size: 14px;
                    font-family: $rob;
                    color: #555555;
                }
            }
            &:after {
                content: "\f0d7";
                font: normal normal normal 14px/1 FontAwesome;
                transform: rotate(0);
                border: none;
                color: #555555;
                margin-top: -6px;
                right: 20px;
            }
        }
        .show {
            clear: none;
            display: inline-block;
            clear: none;
            border: 1px solid #eeeeee;
            border-radius: 0px;
            height: 40px;
            width: 120px;
            padding-left: 20px;
            margin-left: 10px;
            span {
                font-size: 14px;
                font-family: $rob;
                color: #555555;
            }
            .list {
                width: 100%;
                border-radius: 0px;
                li {
                    font-size: 14px;
                    font-family: $rob;
                    color: #555555;
                }
            }
            &:after {
                content: "\f0d7";
                font: normal normal normal 14px/1 FontAwesome;
                transform: rotate(0);
                border: none;
                color: #555555;
                margin-top: -6px;
                right: 20px;
            }
        }
    }
}

/*********************************************
          PRODUCTS
*********************************************/

.product{
  border: 1px solid #dddddd;
  height: 321px;
}

.product>img{
  max-width: 230px;
}

.product-rating{
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title{
  font-size: 16px;
}

.product-desc{
  font-size: 14px;
}

.product-price{
  font-size: 18px;
  padding: 12px 0;
  border-top: 1px solid #E5E7E9;
}

.product-quantity{
  font-size: 16px;
  padding: 12px 0;
  border-top: 1px solid #E5E7E9;
}

.product-stock{
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}

.main_btn{
  display: inline-block;
  background: #17a2b8;
  padding: 0px 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  border: 1px solid #17a2b8;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s;
  border-radius: 5px;
}
  .main_btn:hover{
    background: transparent;
    color: #17a2b8;
  }

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner{
  margin-left: -388px;
}
  .cart_inner .table tbody tr.out_button_area .checkout_btn_inner .main_btn{
    height: 38px;
    padding: 0px 40px;
    line-height: 38px;
    text-transform: uppercase;
  }

.menu-sidebar-area {
    list-style-type:none; padding-left: 0; font-size: 15pt;
  }
  .menu-sidebar-area > li {
    margin:0 0 10px 0;
    list-style-position:inside;
    border-bottom: 1px solid black;
  }
  .menu-sidebar-area > li > a {
    color: black
  }

/*SideNav*/
.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 250px; /* Same width as the sidebar + left position in px */
  /*font-size: 28px;  Increased text to enable scrolling */
  padding: 0px 10px;
}

.container-fluid-stok{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid-stok, .empty-stok::before{
  content: "";
  position: fixed;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* Cart Area css
============================================================================================ */
.cart_area {
  padding-top: 100px;
  padding-bottom: 100px; }

.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #777777;
  border-bottom: 0px !important; }
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center; }
  .cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px; }
    .cart_inner .table tbody tr td .media .d-flex img {
      border: 1px solid #eeeeee;
      border-radius: 3px; }
  .cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center; }
    .cart_inner .table tbody tr td .media .media-body p {
      margin-bottom: 0px; }
  .cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px; }
  .cart_inner .table tfoot tr td h5 {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px; }
  .cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px; }
    .cart_inner .table tbody tr td .product_count input {
      width: 100px;
      padding-left: 30px;
      height: 40px;
      outline: none;
      box-shadow: none; }
    .cart_inner .table tbody tr td .product_count .increase {
      top: -2px; }
      .cart_inner .table tbody tr td .product_count .increase:before {
        content: "";
        height: 40px;
        width: 1px;
        position: absolute;
        left: -3px;
        top: 0px;
        background: #eeeeee; }
      .cart_inner .table tbody tr td .product_count .increase:after {
        content: "";
        height: 1px;
        width: 30px;
        position: absolute;
        left: -3px;
        top: 22px;
        background: #eeeeee; }
    .cart_inner .table tbody tr td .product_count .reduced {
      bottom: -6px; }
.cart_inner .table tbody tr.bottom_button .gray_btn {
  line-height: 38px;
  background: #f9f9ff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500; }
.cart_inner .table tfoot tr.bottom_button td:last-child {
  width: 60px; }
.cart_inner .table tfoot tr.bottom_button td .cupon_text {
  margin-left: -446px; }
  .cart_inner .table tfoot tr.bottom_button td .cupon_text input {
    width: 200px;
    padding: 0px 15px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    height: 40px;
    font-size: 14px;
    color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-right: -3px;
    outline: none;
    box-shadow: none; }
    .cart_inner .table tfoot tr.bottom_button td .cupon_text input.placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tfoot tr.bottom_button td .cupon_text input:-moz-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tfoot tr.bottom_button td .cupon_text input::-moz-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tfoot tr.bottom_button td .cupon_text input::-webkit-input-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
  .cart_inner .table tfoot tr.bottom_button td .cupon_text .main_btn {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0px 38px;
    margin-right: -3px; }
  .cart_inner .table tfoot tr.bottom_button td .cupon_text .gray_btn {
    padding: 0px 40px; }
.cart_inner .table tfoot tr.shipping_area td:nth-child(3) {
  vertical-align: top; }
.cart_inner .table tfoot tr.shipping_area .shipping_box {
  margin-left: -250px;
  text-align: right; }
  .cart_inner .table tfoot tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px; }
    .cart_inner .table tfoot tr.shipping_area .shipping_box .list li:last-child {
      margin-bottom: 0px; }
    .cart_inner .table tfoot tr.shipping_area .shipping_box .list li a {
      padding-right: 30px;
      font-size: 14px;
      color: #777777;
      position: relative; }
      .cart_inner .table tfoot tr.shipping_area .shipping_box .list li a:before {
        content: "";
        height: 16px;
        width: 16px;
        border: 1px solid #cdcdcd;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%); }
      .cart_inner .table tfoot tr.shipping_area .shipping_box .list li a:after {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #1641ff;
        display: inline-block;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0; }
    .cart_inner .table tfoot tr.shipping_area .shipping_box .list li.active a:after {
      opacity: 1; }
  .cart_inner .table tfoot tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px; }
    .cart_inner .table tfoot tr.shipping_area .shipping_box h6 i {
      color: #777777;
      padding-left: 5px; }
  .cart_inner .table tfoot tr.shipping_area .shipping_box .shipping_select {
    display: block;
    width: 100%;
    background: #f9f9ff;
    border: 1px solid #eeeeee;
    height: 40px;
    margin-bottom: 20px; }
    .cart_inner .table tfoot tr.shipping_area .shipping_box .shipping_select .list {
      width: 100%;
      border-radius: 0px; }
      .cart_inner .table tfoot tr.shipping_area .shipping_box .shipping_select .list li {
        font-size: 14px;
        font-weight: normal;
        color: #777777; }
  .cart_inner .table tfoot tr.shipping_area .shipping_box input {
    height: 40px;
    outline: none;
    border: 1px solid #eeeeee;
    background: #f9f9ff;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 20px; }
.cart_inner .table tfoot tr.out_button_area .checkout_btn_inner {
  margin-left: -388px; }
  .cart_inner .table tfoot tr.out_button_area .checkout_btn_inner .main_btn {
    height: 40px;
    padding: 0px 30px;
    line-height: 38px;
    text-transform: uppercase; }

.gray_btn {
  line-height: 38px;
  background: #f9f9ff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500; }

/* End Cart Area css
============================================================================================ */

.order_box {
  background: #f9f9f9;
  padding: 30px; }
  .order_box h2 {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    padding-bottom: 15px; }
  .order_box .list li a {
    font-size: 14px;
    color: #777777;
    font-weight: normal;
    border-bottom: 1px solid #eeeeee;
    display: block;
    line-height: 42px; }
    .order_box .list li a span {
      float: right; }
    .order_box .list li a .middle {
      float: none;
      width: 50px;
      text-align: right;
      display: inline-block;
      margin-left: 30px;
      color: #222222; }
  .order_box .list li:nth-child(4) a .middle {
    margin-left: 48px; }
  .order_box .list_2 li a {
    text-transform: uppercase;
    color: #222222;
    font-weight: 500; }
    .order_box .list_2 li a span {
      color: #777777;
      text-transform: capitalize; }
  .order_box .list_2 li:last-child a span {
    color: #222222; }
  .order_box .payment_item h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 500;
    padding-left: 22px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px; }
    .order_box .payment_item h4:before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #cdcdcd;
      background: #fff;
      display: block;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%); }
    .order_box .payment_item h4:after {
      content: "";
      height: 4px;
      width: 4px;
      background: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 5px;
      top: 8px; }
    .order_box .payment_item h4 img {
      padding-left: 60px; }
  .order_box .payment_item p {
    background: #fff;
    padding: 20px; }
  .order_box .payment_item.active h4:before {
    background: #1641ff;
    border-color: #1641ff; }
  .order_box .creat_account {
    margin-bottom: 15px; }
    .order_box .creat_account label {
      padding-left: 10px;
      font-size: 12px;
      color: #222222; }
    .order_box .creat_account a {
      color: #1641ff; }
  .order_box .main_btn {
    display: block;
    line-height: 38px;
    text-transform: uppercase; }

